{% extends "proj/proj_base.html.twig" %}

{% block title %}Game ongoing{% endblock %}

{% block body %}

{{ include('flash.html.twig') }}

<div class="adventure-text-container">
    {# rumsbeskrivning #}
    {{ currentRoom.getDescription() }}
    <br>
    <br>

    {# inventory #}
    {{ inventory }}
</div>

{# knappar #}
<div class="adventure-button-container">

    {% if not isGameOver %}
        <div class="dir-button-container">
            <form method="post" action="{{ path('adventure_move') }}">
                <input type="submit" name="move" value="north" class="adventure-button">
            </form>

            <div class="middle-row">
                <form method="post" action="{{ path('adventure_move') }}">
                    <input type="submit" name="move" value="west" class="adventure-button">
                </form>

                <form method="post" action="{{ path('adventure_move') }}">
                    <input type="submit" name="move" value="east" class="adventure-button">
                </form>
            </div>

            <form method="post" action="{{ path('adventure_move') }}">
                <input type="submit" name="move" value="south" class="adventure-button">
            </form>
        </div>

        {# pick up item #}
        {% for item in currentRoom.getItems() %}
            <form method="post" action="{{ path('adventure_pick') }}" class="pick-buttons">
                <input type="submit" name="pick" value="Pick up {{ item.getName }}" class="adventure-button">
            </form>
        {% endfor %}

        {# do action #}
        {% if currentRoom.getAction() is not null %}
            <form method="post" action="{{ path('adventure_action') }}" class="action-button">
                <input type="submit" name="action" value="Interact with {{ currentRoom.getAction.name }}" class="adventure-button">
            </form>
        {% endif %}
    {% else %}
    {# game over #}
    <form method="post" action="{{ path('adventure_post') }}" class="play-again-button">
        <input type="submit" name="again" value="Play again" class="adventure-button">
    </form>
    {% endif %}

</div>

{# bild #}
<img src="{{ asset('img/' ~ currentRoom.getImg()) }}" alt="">

{% endblock %}