{% extends "proj/proj_base.html.twig" %}

{% block title %}Proj Api{% endblock %}

{% block body %}
    <h1>Adventure project Api</h1>
    <p>JSON routes:</p>
    <ul>
        <li>
            <a href="{{ path('proj_api_rooms') }}">/proj/api/rooms</a>
            <p>Visar info om alla rum i spelet.</p>
        </li>
        <li>
            <a href="{{ path('proj_api_room_id', {id: 5}) }}">/proj/api/room/5</a>
            <p>Visar info om ett specifikt rum i spelet.</p>
        </li>
        <li>
            <a href="{{ path('proj_api_inventory') }}">/proj/api/inventory</a>
            <p>Visar spelarens inventarium.</p>
        </li>
        <li>
            {% for dir in ['north', 'west', 'east', 'south'] %}
                <form method="post" action="{{ path('proj_api_move', {direction: dir}) }}">
                    <input type="submit" name="move" value="Move {{ dir }}">
                </form>
            {% endfor %}
            <p>Flyttar spelare.</p>
        </li>
        <li>
            {% for item in ['amulet', 'key'] %}
                <form method="post" action="{{ path('proj_api_pick', {item: item}) }}">
                    <input type="submit" name="pick" value="Pick up {{ item }}">
                </form>
            {% endfor %}
            <p>Plocka föremål.</p>
        </li>
        <li>
            <form method="post" action="{{ path('proj_api_action') }}">
                <input type="submit" name="action" value="Do action">
            </form>
            <p>Interagera med ett objekt, om det finns i rummet.</p>
        </li>
    </ul>
{% endblock %}