{% extends "proj/proj_base.html.twig" %}

{% block title %}Proj Api{% endblock %}

{% block body %}
    <h1>Adventure project Api</h1>
    <p>JSON routes:</p>
    <ul>
        <li>
            <a href="{{ path('proj_api_rooms') }}">/proj/api/rooms</a>
            <p>Visar info om alla rum i spelet.</p>
        </li>
        <li>
            <a href="{{ path('proj_api_room_id', {id: 5}) }}">/proj/api/room/5</a>
            <p>Visar info om ett specifikt rum i spelet.</p>
        </li>
        <li>
            <a href="{{ path('proj_api_inventory') }}">/proj/api/inventory</a>
            <p>Visar spelarens inventarium.</p>
        </li>
        <li>
            {% for dir in ['north', 'west', 'east', 'south'] %}
                <form method="post" action="{{ path('proj_api_move', {direction: dir}) }}">
                    <input type="submit" name="move" value="Move {{ dir }}">
                </form>
            {% endfor %}
            <p>Flyttar spelare.</p>
        </li>
        <li>
            {% for item in ['amulet', 'key'] %}
                <form method="post" action="{{ path('proj_api_pick', {item: item}) }}">
                    <input type="submit" name="pick" value="Pick up {{ item }}">
                </form>
            {% endfor %}
            <p>Plocka föremål.</p>
        </li>
        <li>
            <form method="post" action="{{ path('proj_api_action') }}">
                <input type="submit" name="action" value="Do action">
            </form>
            <p>Interagera med ett objekt, om det finns i rummet.</p>
        </li>
        {# <li>
            <a href="{{ path('api_deck') }}">/api/deck</a>
            <p>Visar hel sorterad kortlek.</p>
        </li>
        <li>
            <form method="post" action="{{ path('api_deck_shuffle') }}">
                <input type="submit" name="shuffle" value="Blanda kortleken">
            </form>
            <p>Återställer och blandar kortleken som visas.</p>
        </li>
        <li>
            <form method="post" action="{{ path('api_deck_draw') }}">
                <input type="submit" name="draw" value="Dra ett kort">
            </form>
            <p>Drar ett kort ur kortleken och visar det, visar hur många kort som finns kvar i kortleken.</p>
        </li>
        <li>
            <form method="post" action="{{ path('api_deck_draw_num', {num: 5}) }}">
                <input type="submit" name="drawNum" value="Dra fem kort">
            </form>
            <p>Drar fem kort ur kortleken och visar de, visar hur många kort som finns kvar i kortleken.</p>
        </li>
        <li>
            <a href="{{ path('api_game') }}">/api/game</a>
            <p>Visar ställning mellan spelare och bank i kortspelet 21.</p>
        </li>

        <li>
            <a href="{{ path('json_show_books') }}">/api/library/books</a>
            <p>Visar samtliga böcker i biblioteket.</p>
        </li>

        <li>
            <a href="{{ path('book_by_isbn', {isbn: '978-91-7037-854-6'}) }}">/api/library/book/978-91-7037-854-6</a>
            <p>Länk till bok i biblioteket via dess ISBN nummer.</p>
        </li> #}
    </ul>
{% endblock %}