{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}

{% block body %}
<h1>Kortlek</h1>
<ul>
    <li><a href="{{ path('deck') }}">card/deck</a></li>
    <li><a href="{{ path('deck_shuffle') }}">card/deck/shuffle</a></li>
    <li><a href="{{ path('deck_draw') }}">card/deck/draw</a></li>
    <li><a href="{{ path('deck_draw_num', {num: 4}) }}">card/deck/draw/4</a></li>
    <li><a href="{{ path('session') }}">session</a></li>
    <li><a href="{{ path('session_delete') }}">session/delete</a></li>
</ul>
<p>
    Klasser som representerar kortlekens delar:
    <ul>
        <li><strong>Card:</strong> Representerar ett spelkort med värde och färg.</li>
        <li><strong>CardGraphic:</strong> Visuellt representerar ett spelkort. Subklass som ärver från Card.</li>
        <li><strong>CardHand:</strong> Representerar en hand med kort med bland annat metod för att lägga till kort. Innehåller Card objekt, komposition.</li>
        <li><strong>DeckOfCards:</strong> Representerar hela kortleken med bland annat metoder för att blanda och dra kort. Innehåller CardGraphic objekt, kompositiopn.</li>
    </ul>
</p>
<a href="{{ asset('img/card_uml.png') }}">
    <img src="{{ asset('img/card_uml.png') }}" alt="">
</a>
{% endblock %}