{% extends "base.html.twig" %}

{% block title %}Game ongoing{% endblock %}

{% block body %}
<h1>Kortspel 21 SPELAR</h1>

{{ include('flash.html.twig') }}

<div class="game-button-container">

    {% if not isGameOver %}
    <form method="post" action="{{ path('game_draw') }}">
        <input type="submit" name="draw" value="Dra ett kort" class="button">
    </form>

    <form method="post" action="{{ path('game_stop') }}">
        <input type="submit" name="stop" value="Stanna" class="button">
    </form>
    {% endif %}

    <form method="post" action="{{ path('game_post') }}">
        <input type="submit" name="again" value="Starta igen" class="button">
    </form>
</div>

<h2>Spelare poäng: {{ playerPoints }}</h2>

<h3>Spelare kort:</h3>
<div class="card-container">
{% for card in playerHand %}
    <div class="single-card {{ card.getSuit() }}">
        {{ card.getAsString() }}
    </div>
{% endfor %}
</div>

<h2>Bankens poäng: {{ bankPoints }}</h2>

<h3>Bankens kort:</h3>
<div class="card-container">
{% for card in bankHand %}
    <div class="single-card {{ card.getSuit() }}">
        {{ card.getAsString() }}
    </div>
{% endfor %}
</div>

{% endblock %}